  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }

  main {
      flex: 1 0 auto;
  }

  .home-container {
    margin: auto;
    padding: 30px;
    width: 100%;
  }

  .home-card {
    width: 95%;
  }

