/*---------------------------------------------------------- General styles */
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Mono', sans-serif;
}

header {
    background-color: #104F55;
}

header > h1 {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

main {
    flex: 1 0 auto;
    background-color: #f4d8cd;
}

textarea {
    border-width: 0;
}

:focus-visible {
    outline: 0;
}

#div_id_featured_image > label {
    padding-bottom: 40px;
}

.no-padding {
    padding: none;
  }

.no-margin-bottom {
    margin-bottom: 0%;
}

.clearablefileinput {
    margin-left: 60px;
}

/*--------------------------------------------- Overriding materialize styles */

nav {
    background-color: #32746D;
}

.page-footer {
    background-color: #32746D;
}

#bottom-footer {
    background-color: #104F55;
}

/*---------------------------------------------------------- home page styles */ 

.home-container {
    margin: auto;
    width: 90%;
}

.home-card {
    width: 100%;
}

.home-featured-image {
    max-width: 100%;
    max-height: 100%;
}

.home-job-link {
    color: black;
}

.home-job-title {
    font-size: 135%;
    font-weight: 700;
}

.home-job-details {
    margin-bottom: 10px;
}

.pagination-card {
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
}

.pagination-control > a {
    font-weight: 700;
}


/*-------------------------------------------------- View profile page styles */

.side-nav {
    height: 100%;
}

.side-nav > h5{
    color: antiquewhite;
}