{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="container"></div>
    <h2 class="white-text center-align dark-bg container add-padding">View the latest posts from the community:</h2>
    <p class="center-align"><a href="{% url 'create_blog_post' %}" class="btn">Write a blog post...</a></p>
</div>
<div class="row"></div>
<div class="row container">
    {% for blog in blogpost_list %}
    <div class="col s12 l4">
        <div class="card light-green-bg">
            <div class="card-image">
                {% if "placeholder" in blog.featured_image.url %}
                <img src="https://res.cloudinary.com/dpvq4invf/image/upload/v1686647004/typewriterimg_fqfafk.webp" alt="default picture of a laptop">
                {% else %}
                <img src="{{ blog.featured_image.url }}" alt="job posting featured image">
                {% endif %}
                <a class="btn-floating halfway-fab waves-effect waves-light green" href="{% url 'blog_detail' blog.slug %}"><i class="fa-brands fa-readme"></i></a>
            </div>
            <div class="card-content">
                <div class="card-title bold">{{blog.title}}</div>
                <p class="truncate">{{blog.summary}}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row container">

{% endif %}
{% endfor %}

{% if is_paginated %}
<div class="row">
    <div class="col s12">
        <nav aria-label="Page navigation" class="pagination-card dark-bg">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="pagination-control left"><a href="?page={{ page_obj.previous_page_number }}"
                        class="page-link white-text left-align">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="pagination-control right"><a href="?page={{ page_obj.next_page_number }}"
                        class="white-text right-align"> NEXT &raquo;</a></li>
        
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}

{% endblock %}