{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<section>
    <div class="row no-margin-bottom">
        <div class="col s12 l2 side-nav">
            <h5 class="center-align bold">Options:</h5>
            <div class="divider"></div>
            <div class="row"></div>
            <ul>
                {% if user == blog.posted_by %}
                <li class="container center-align">
                    <a class="btn" href="{% url 'edit_blog' blog.slug %}">Edit</a>
                </li>
                <div class="row"></div>
                <li class="container center-align">
                    <a class="waves-effect waves-light btn modal-trigger" href="#blogmodal">Delete</a>
                    {% block delete_blog_modal %}{% include 'delete_blog_modal.html' %}{% endblock delete_blog_modal %}
                </li>
                <div class="row"></div>

                {% endif %}
                <li class="container center-align">
                    <a class="btn" href="#title">Title</a>
                </li>
                <div class="row"></div>
                <li class="container center-align">
                    <a class="btn" href="#comment-section">Comments</a>
                </li>
                <div class="row"></div>
                <li class="container center-align">
                    <a class="btn" href="{% url 'blog_list' %}">Back</a>
                </li>
            </ul>
        </div>
        <div class="col s12 l10 containe offset-l2">
            <div class="card-panel profile">
                <div class="container center-align">
                    <h1 id="title" class="bold">{{ blog.title }}</h1>
                    <h3>By: {{ blog.posted_by }}</h3>
                </div>
                <p>{{ blog.summary }}</p>
                <div class="divider"></div>
                <div class="section container">
                    {% if "placeholder" in blog.featured_image.url %}
                    <img class="hero circle responsive-img" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default picture of a laptop">
                    {% else %}
                    <img class="hero responsive-img" src="{{ blog.featured_image.url }}" alt="job posting featured image">
                    {% endif %}
                    <p>{{ blog.content }}</p>
                    <h5 class="bold">Posted on: {{ blog.created_on }}</h5>
                </div>
                <div class="divider"></div>
                <div id="comment-section" class="section">
                    <form method="POST" height="200px">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h4>Comments:</h4>
                    {% for comment in comments %} 
                    <div class="card-panel comment">
                        <span class="bold">{{ comment.name }} | {{ comment.created_on }}</span>
                        <p>{{ comment.body }}</p>
                        {% if user.username == comment.name %}
                        <a class="waves-effect waves-light btn modal-trigger" href="#commentmodal">Delete</a>
                        {% block delete_comment_modal %}{% include 'delete_comment_modal.html' %}{% endblock delete_comment_modal %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}