{% extends "base.html" %}
{% block content %}

{% load static %}

{% load crispy_forms_tags %}

<section>
    <div class="row no-margin-bottom">
        <div class="col s12 l2 side-nav">
            <h5 class="center-align bold">Options:</h5>
            <div class="divider"></div>
            <div class="row"></div>
            <ul>
                {% if user == blog.posted_by %}
                <li class="container center">
                    <a class="btn" href="{% url 'edit_blog' blog.slug %}">Edit</a>
                </li>
                <li>
                    <div class="row"></div>
                </li>
                <li class="container center">
                    <a class="waves-effect waves-light btn red darken-4 modal-trigger" href="#blogmodal">Delete</a>
                    {% block delete_blog_modal %}{% include 'delete_blog_modal.html' %}{% endblock delete_blog_modal %}
                </li>
                <li>
                    <div class="row"></div>
                </li>
                {% endif %}
                <li class="container center">
                    <a class="btn" href="#title">Title</a>
                </li>
                <li>
                    <div class="row"></div>
                </li>
                <li class="container center">
                    <a class="btn" href="#comment-section">Comments</a>
                </li>
                <li>
                    <div class="row"></div>
                </li>
                <li class="container center">
                    {% if blog.reported %}
                    <p class="bold">This blog post has been reported.</p>
                    {% else %}
                    <a class="btn amber waves-effect waves-light black-text" href="{% url 'report_blog' blog.slug %}">Report</a>
                    {% endif %}
                </li>
                <li>
                    <div class="row"></div>
                </li>
                <li class="container center">
                    <a class="btn" href="{% url 'blog_list' %}">Back</a>
                </li>
                <li>
                    <div class="row"></div>
                </li>
            </ul>
        </div>
        <div class="col s12 l10 container offset-l2">
            <div class="card-panel profile">
                <div class="container center-align">
                    <h2 id="title" class="bold">{{ blog.title }}</h2>
                    <h3>By: {{ blog.posted_by }}</h3>
                </div>
                <p>{{ blog.summary }}</p>
                <div class="divider"></div>
                <div class="section container">
                    {% if "placeholder" in blog.featured_image.url %}
                    <img class="hero circle responsive-img" src="https://res.cloudinary.com/dpvq4invf/image/upload/v1686647004/typewriterimg_fqfafk.webp" alt="default picture of a laptop">
                    {% else %}
                    <img class="hero responsive-img" src="{{ blog.featured_image.url }}" alt="job posting featured image">
                    {% endif %}
                    <p>{{ blog.content }}</p>
                    <h5 class="bold">Posted on: {{ blog.created_on }}</h5>
                </div>
                <div class="divider"></div>
                <div id="comment-section" class="section">
                    <h4>Write a comment:</h4>
                    <form method="POST" class="comment">
                        <div class="row add-padding">
                            <div class="col s12 add-padding">
                                {{ form | crispy }}
                                {% csrf_token %}
                            </div>
                            <div class="col s12 add-padding">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h4>Comments:</h4>
                    {% if comments %}
                    {% for comment in comments %} 
                    <div class="card-panel comment">
                        <span class="bold">{{ comment.name }} | {{ comment.created_on }}</span>
                        <p>{{ comment.body }}</p>
                        {% if comment.reported %}
                        <p class="bold">This comment has been reported</p>
                        {% else %}
                        <a class="waves-effect waves-light btn modal-trigger black-text amber" href="{% url 'report_comment' comment.pk %}">REPORT</a>
                        {% endif %}
                        {% if user.username == comment.name %}
                        <a class="waves-effect waves-light btn red darken-4 modal-trigger" href="#commentmodal">Delete</a>
                        {% block delete_comment_modal %}{% include 'delete_comment_modal.html' %}{% endblock delete_comment_modal %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card-panel dark-bg">
                        <p>It's pretty quiet here... Be the first to post a comment!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}