{% extends "base.html" %}
{% block content %}
<section>
    <div class="row grey no-margin-bottom">
        <div class="col s12 l2 grey darken-2 side-nav">
            <h5>Options:</h5>
            <ul>
                {% if user == blog.posted_by %}
                <li>
                    <a href="#">Edit</a>
                </li>
                <li>
                    <a href="#">Delete</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'blog_list' %}">Back</a>
                </li>
            </ul>
        </div>
        <div class="col s12 l10">
            <div class="card-panel">
                <h1>{{ blog.title }}</h1>
                <h3>By: {{ blog.posted_by }}</h3>
                <p>{{ blog.summary }}</p>
                <div class="divider"></div>
                <div class="section">
                    {% if "placeholder" in blog.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default picture of a laptop">
                    {% else %}
                    <img src="{{ blog.featured_image.url }}" alt="job posting featured image">
                    {% endif %}
                    <p>{{ blog.content }}</p>
                    <p>Posted on: {{ blog.created_on }}</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h3>COMMENT FORM HERE</h3>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h4>Comments:</h4>
                    {% for comment in comments %} 
                    <div class="card-panel">
                        <span>{{ comment.name }} | {{ comment.created_on }}</span>
                        <p>{{ comment.body }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}