{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="card-panel dark-bg">
        <h2 class="white-text">Found a problem with the site?</h2>
        <h3 class="white-text">Send us a message</h3>
    </div>
</div>
<div class="container">
    <div class="card-panel">
        <form method="POST" height="200px">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn">Send message</button>
        </form>
    </div>
</div>
{% endblock %}