{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="card-panel dark-bg">
        <h2 class="white-text">Found a problem with the site?</h2>
        <h3 class="white-text">Send us a message</h3>
    </div>
</div>
<div class="container">
    <div class="card-panel">
        <form method="POST">
            <div class="container">
                {{ form.full_name | as_crispy_field }}
            </div>
            <div class="container">
                {{ form.email | as_crispy_field }}
            </div>
            <div class="container">
                {{ form.message | as_crispy_field }}
            </div>
            {% csrf_token %}
            <div class="center">
                <button type="submit" class="btn">Send message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}