{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

{% block edit_blog_modal %}{% include 'edit_blog_modal.html' %}{% endblock edit_blog_modal %}

{% if user.is_authenticated %}
{% if user == blog.posted_by %}
<div class="container light-green-bg add-padding">
    <h2>Edit blog post:</h2>
</div>
<div class="container">
    <div class="card-panel add-padding">
        <form method="POST" enctype="multipart/form-data">
            <h4 class="center">Posting as: {{ user.username }}</h4>
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    {{ form.title | as_crispy_field }}
                </div>
                <div class="col s12">
                    {{ form.summary| as_crispy_field }}
                </div>
                <div class="col s12">
                    {{ form.content | as_crispy_field }}
                </div>
                <div id="update-blog-image" class="col s12">
                    <label for="id_featured_image">Upload or reupload an image for your blog:</label>
                    {{ form.featured_image }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn">Apply Edits</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <p class="center"><a href="{% url 'blog_list' %}" class="btn">Back</a></p>
    </div>
</div>
{% endif %}
{% else %}
<div class="container">
    <div class="card-panel">
        <p class="center">You must be signed AND have the correct permissions to edit this blog post</p>
    </div>
</div>
{% endif %}

{% endblock %}