{% block edit_job_modal %}
<!---Modal-->
<div id="editjobmodal" class="modal">
    <div class="modal-content">
        <h2 class="red darken-4 white-text add-padding z-depth-1 center">WARNING:</h2>
        <p>By Editing your job posting you will remove all applications made for this job so far.</p>
        <p>Consider reaching out to candidates who have already applied before making any edits to this job posting.</p>
        <p class="red darken-4 white-text add-padding z-depth-1">YOU CANNOT SUBMIT AN UN-EDITED JOB POSTING WITH THIS FORM</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn">Continue</a>
    </div>
</div>
{% endblock %}