{% block edit_blog_modal %}
<!---Modal-->
<div id="editblogmodal" class="modal">
    <div class="modal-content">
        <h2 class="red darken-4 white-text add-padding z-depth-1 center">WARNING:</h2>
        <p>By Editing your blog you will remove all the comments that users have made.</p>
        <p class="bold">Changed your mind about something you said?</p>
        <p>
        Try writing a new blog post; you can write as many as you want!
        Keep the conversation going - it'll help you stand out as a developer or recruiter
        </p>
        <p class="red darken-4 white-text add-padding z-depth-1">YOU CANNOT SUBMIT AN UN-EDITED BLOG WITH THIS FORM</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn">Continue</a>
    </div>
</div>
{% endblock %}