{% extends "base.html" %}

{% block content %}

<!--Job posting list-->
<div class="home-container">
    <div class="row">
        {% for job in jobposting_list %}
        <div class="col s12 m6 l3">
            <div class="card-panel home-card">
                <a class="home-job-link" href="{% url 'job-post-detail' job.pk %}">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="home-job-title truncate">{{ job.title }}</h4>
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            {% if "placeholder" in job.featured_image.url %}
                            <img class="home-featured-image" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default picture of a laptop">
                            {% else %}
                            <img class="home-featured-image" src="{{ job.featured_image.url }}" alt="job posting featured image">
                            {% endif %}
                        </div>
                        <div class="col s6 no-padding">
                            <div class="home-job-details">
                                <p class="truncate"><i class="fa-solid fa-money-bill"></i> £{{ job.salary }}</p>
                                <p class="truncate"><i class="fa-sharp fa-solid fa-location-dot"></i> {{ job.location }}</p>
                                <p class="truncate"><i class="fa-solid fa-clock"></i> {{ job.closing_date.date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="pagination-card">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="pagination-control left"><a href="?page={{ page_obj.previous_page_number }}" class="page-link white-text left-align">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="pagination-control right"><a href="?page={{ page_obj.next_page_number }}" class="white-text right-align"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% endblock %}