{% extends "base.html" %}

{% block content %}

<!--Job posting list-->
<div class="home-container">
    <div class="row">
        {% for job in jobposting_list %}
        <div class="col s3">
            <div class="card-panel home-card">
                <a class="home-job-link" href="{% url 'job-post-detail' job.pk %}">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="home-job-title">{{ job.title }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <img class="home-featured-image" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default picture of a laptop">
                        </div>
                        <div class="col s6">
                            <div class="container home-job-details">
                                <p><i class="fa-solid fa-money-bill"></i> £{{ job.salary }}</p>
                                <p><i class="fa-sharp fa-solid fa-location-dot"></i> {{ job.location }}</p>
                                <p><i class="fa-solid fa-clock"></i> {{ job.closing_date.date }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <hr>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation" class="pagination-card">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="pagination-control"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="pagination-control"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% endblock %}