{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="row container">
    <div class="col s12 dark-bg white-text">
        <h2 class="add-padding bold center">{{ jobpost.title }}</h2>
    </div>
</div>


<div class="row container light-green-bg">
    {% if user.is_authenticated %}
    {% if user == jobpost.posted_by %}
    <div class="col s12 l3">
        <p class="center">
            <a class="btn" href="{% url 'update-job-post' jobpost.pk %}">Edit</a>
        </p>
    </div>
    <div class="col s12 l3">
        <p class="center">
            <a class="waves-effect waves-light btn red darken-4 modal-trigger" href="#jobmodal">Delete</a>
            {% block delete_job_modal %}{% include 'delete_job_modal.html' %}{% endblock delete_job_modal %}
        </p>
    </div>
    {% endif %}
    <div class="col s12 l3">
        <p class="center">
            <a class="btn amber black-text" href="{% url 'report-job-post' jobpost.pk %}">Report</a>
        </p>
    </div>
    {% endif %}
    <div class="col s12 l3">
        <p class="center">
            <a class="btn" href="{% url 'home' %}">Back</a>
        </p>
    </div>
</div>


<div class="row container">
    <div class="col s12">
        <div id="job-hero" class="card dark-bg">
            <div class="card-image waves-effect waves-block waves-light container">
                {% if "placeholder" in jobpost.featured_image.url %}
                <img src="https://res.cloudinary.com/dpvq4invf/image/upload/v1686647003/codeimg_afcr3y.webp"
                    alt="default picture of a laptop">
                {% else %}
                <img src="{{ jobpost.featured_image.url }}" alt="job posting featured image">
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Click Here for More Details About This
                    Opportunity<i class="fa-solid fa-ellipsis-vertical right"></i></span>
            </div>
            <div class="card-reveal light-green-bg">
                <span class="card-title grey-text text-darken-4"><i
                        class="close fa-regular fa-circle-xmark right"></i></span>
                <ul class="job-detail-list">
                    <li class="job-detail-list-item">
                        <h4> SALARY: '£{{ jobpost.salary }}',</h4>
                    </li>
                    <li class="job-detail-list-item">
                        <h4> LOCATION: '{{ jobpost.location }}',</h4>
                    </li>
                    <li class="job-detail-list-item">
                        <h4> CLOSING DATE: '{{ jobpost.closing_date }}',</h4>
                    </li>
                    <li class="job-detail-list-item">
                        <h4> JOB POSTED ON: '{{ jobpost.created_on }}',</h4>
                    </li>
                    <li class="job-detail-list-item">
                        <h4> CURRENT APPLICANTS: '{{ jobpost.applicants }}',</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-panel dark-bg">
        <div class="container">
            <div class="card-panel">
                <h3>Company overview:</h3>
                <p>{{ jobpost.company_overview | safe }}</p>
            </div>
        </div>
        <div class="container">
            <div class="card-panel">
                <h3>Job description:</h3>
                <p>{{ jobpost.job_description | safe }}</p>
            </div>
        </div>
        <div class="container">
            <div class="card-panel">
                <h3>Candidate requirements:</h3>
                <p>{{ jobpost.requirements | safe }}</p>
            </div>
        </div>
        <div class="container">
            <div class="card-panel">
                <h3>Benefits:</h3>
                <p>{{ jobpost.benefits | safe }}</p>
            </div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
{% for profile in userprofiles %}
{% if profile.user == user %}
{% if profile.job_seeker %}
<div class="container">
    <div class="card-panel">
        <div class="center">
            <a class="btn" href="{% url 'apply' jobpost.pk %}">Apply</a>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <p class="center bold">You need to update your profile to 'job seeker' if you wish to apply.</p>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% else %}
<div class="container">
    <p class="center bold">Log in to apply.</p>
</div>
{% endif %}

<div class="container">
    <p class="center bold">Posted By: {{ jobpost.posted_by }} | Applicants: {{ jobpost.applicants }}</p>
</div>

{% if user == jobpost.posted_by %}
<div class="container">
    <div class="card-panel dark-bg">
        <h3 class="white-text center">SEE ALL APPLICATIONS:</h3>
        {% if applications %}
        {% for application in applications %}
        <div class="container">
            <div class="card-panel light-green-bg">
                <div class="row">
                    <div class="col s6">
                        <p>APPLICANT: {{ application.full_name }}</p>
                    </div>
                    <div class="col s6">
                        <p>EMAIL ADDRESS: {{ application.email }}</p>
                    </div>
                    <div class="col s6">
                        <p>LINKEDIN: {{ application.linkedin }}</p>
                    </div>
                    <div class="col s6">
                        <a class="btn" href="{% url 'application-detail' application.pk %}">
                            View Application Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="white-text center">There are currently no applicants for this role.</p>
        {% endif %}
    </div>
</div>
{% endif %}


{% endblock %}