{% extends "base.html" %}
{% block content %}
<section>
    <div class="row no-margin-bottom c">
        <div class="col s12 l2 side-nav pinned offset-l1">
            <h5 class="bold center-align">Options:</h5>
            <div class="divider"></div>
            <div class="row"></div>
            <ul>
                <li class="container center-align">
                    <a class="btn" href="{% url 'edit_profile' %}">Edit</a>
                </li>
                <div class="row"></div>
                <li class="container center-align">
                    <a class="btn" href="{% url 'delete_profile' %}">Delete</a>
                </li>
                <div class="row"></div>
                <li class="container center-align">
                    <a class="btn" href="{% url 'home' %}">Back</a>
                </li>
            </ul>
        </div>
        <div class="col s12 l10 offset-l2">
            <div class="container">
                <div class="card-panel profile">
                    <h3 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h3>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Details:</h5>
                        <div class="row">
                            <div class="col s12 l6">
                                <p>Location: {{ profile.location }}</p>
                            </div>
                            <div class="col s12 l6">
                                <p>Years of experience: {{ profile.years_experience }}</p>
                            </div>
                            <div class="col s12 l6">
                                {% if profile.job_seeker %}
                                <p>I'm currently open to new roles!</p>
                                {% endif %}
                            </div>
                            <div class="col s12 l6">
                                {% if profile.recruiter %}
                                <p>I'm currently hiring! Connect with me on my social links below!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>About me:</h5>
                        <div class="row">
                            <div class="col s12 l6">
                                <h6>Education:</h6>
                                <p>{{ profile.education }}</p>
                            </div>
                            <div class="col s12 l6">
                                <h6>Work Experience:</h6>
                                <p>{{ profile.work_experience }}</p>
                            </div>
                            <div class="col s12 l6">
                                <h6>Interests:</h6>
                                <p>{{ profile.interests }}</p>
                            </div>
                            <div class="col s12 l6">
                                <h6>Open to the following roles:</h6>
                                <p>{{ profile.roles_open_to }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Connect with {{ profile.first_name }}:</h5>
                        <ul>
                            <li>
                                {{ profile.linkedin }}
                            </li>
                            <li>
                                {{ profile.github_username }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}